<form *ngIf="this.orderForm" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <table class="table table-image">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Choose</th>
      </tr>
    </thead>
    <tbody formArrayName="orderDishes">
      <tr *ngFor="let orderDish of orderDishes.controls; let i = index" [formGroupName]="i">
        <td class="index-number">{{i + 1}}</td>
        <td class="w-25">
          <img src="../../../assets/{{dishes[i].name.toLowerCase()}}.jpg" class="img-fluid img-thumbnail"
            alt="{{dishes[i].name}}">
        </td>
        <td>{{dishes[i].name}}</td>
        <td>{{dishes[i].price}}$</td>
        <td class="commenter">{{dishes[i].description}}<em class="fas fa-angle-down"></em></td>
        <td><input type="number" min="0" class="form-control" formControlName="amount"></td>
        <td><input type="checkbox" formControlName="isOrdered" value="Chosen"></td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Checkout
    </button>
  </div>
</form>