<table class="table table-image">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dish of dishes; let i = index">
        <td class="username">{{i + 1}}</td>
        <td class="w-25">
            <img src="../../assets/{{dish.name.toLowerCase()}}.jpg" class="img-fluid img-thumbnail" alt="Sheep">
        </td>
        <td>{{dish.name}}</td>
        <td>{{dish.price}}$</td>
        <td class="commenter">{{dish.description}}<i class="fas fa-angle-down"></i></td>
        <!--                        <td *ngIf="dish.roomId.name;else elseBlock " class="commenter">{{dish.roomId.name}}<i-->
        <!--                            class="fas fa-angle-down"></i>-->
        <!--                        </td>-->
        <!--            <ng-template #elseBlock>-->
        <!--                <td class="commenter"><i class="fas fa-angle-down"></i></td>-->
        <!--            </ng-template>-->
        <!---->
        <!---->
        <!--            <td class="activeUser">{{dish.status}}<i class="fas fa-angle-down"></i></td>-->
        <!--            <div [ngSwitch]="dish.status">-->
        <!--                <ng-template ngSwitchCase="CONFIRMED">-->
        <!--                    <td><a>Accept</a></td>-->
        <!--                </ng-template>-->
        <!--                <ng-template ngSwitchDefault>-->
        <!--                    <td></td>-->
        <!--                </ng-template>-->
        <!--            </div>-->
    </tr>
    </tbody>
</table>
<input type="submit" value="Logout" (click)="logout()">
