<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="(isAuthenticated | async)">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" *ngIf="(isAuthenticated | async)">Home</a>
    <a class="nav-item nav-link" routerLink="/menu" *ngIf="(isAuthenticated | async)">Menu</a>
    <a class="nav-item nav-link" routerLink="/orders" *ngIf="(isAuthenticated | async)">Orders</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="(isAdminAuthenticated | async)">Admin</a>
    <a class="nav-item nav-link" (click)="logout()" *ngIf="(isAuthenticated | async)">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
        <div class="auth-debug" *ngIf="debugOn">
          <hr>
          <h1>For auth debug purposes</h1>
          <div class="authenticating-loader" *ngIf="(isDoneLoading | async) === false">
            <hr>
            <div>Authenticating...</div>
            <hr>
          </div>
          <hr>
          <p>
            <button class="btn btn-success mr-1" (click)='login()'>login</button>
            <button class="btn btn-primary mr-1" (click)='logout()'>logout</button>
          </p>
          <p>
            <button class="btn btn-warning mr-1" (click)='refresh()'>force silent refresh</button>
            <button class="btn btn-secondary mr-1" (click)='reload()'>reload page</button>
            <button class="btn btn-danger mr-1" (click)='clearStorage()'>clear storage</button>
          </p>
          <hr>
          <table class="table table-bordered table-sm table-props">
            <tr>
              <th>IsAuthenticated</th>
              <td><code id="isAuthenticated">{{isAuthenticated | async}}</code></td>
            </tr>
            <tr>
              <th>HasValidToken</th>
              <td><code id="hasValidToken">{{hasValidToken}}</code></td>
            </tr>
            <tr>
              <th>IsDoneLoading</th>
              <td><code id="isDoneLoading">{{isDoneLoading | async}}</code></td>
            </tr>
            <tr>
              <th>CanActivateProtectedRoutes</th>
              <td><code id="canActivateProtectedRoutes">{{canActivateProtectedRoutes | async}}</code></td>
            </tr>
            <tr>
              <th>RefreshToken</th>
              <td><code class="break-all">{{refreshToken}}</code></td>
            </tr>
            <tr>
              <th>AccessToken</th>
              <td><code class="break-all">{{accessToken}}</code></td>
            </tr>
            <tr>
              <th>User</th>
              <td><code class="break-all">{{isUserAuthenticated | async}}</code></td>
            </tr>
            <tr>
              <th>Admin</th>
              <td><code class="break-all">{{isAdminAuthenticated | async}}</code></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>